.hero-intro {
  position: relative; /* Create a positioning context for the pseudo-element */

  background: #f8f5f6a4; /* fallback colour. Make sure this is just one solid colour. */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  background: linear-gradient(
      rgba(244, 245, 250, 0.8),
      rgba(255, 248, 250, 0.8)
    ),
    url("https://assets-news.housing.com/news/wp-content/uploads/2020/12/01163300/Bengaluru%E2%80%99s-Vidhana-Soudha-could-be-worth-over-Rs-3900-crores-FB-1200x700-compressed.jpg") no-repeat ; /* The least supported option. */
}

/* .points {
  list-style-type: square;
  list-style-position: inside;
  list-style-image: url("https://image.similarpng.com/very-thumbnail/2021/06/Green-check-mark-icon-on-transparent-background-PNG.png");
} */

/* .points {
  list-style: none;
}

.points li:before {
  content: "";
  display: inline-block;
  height: 1.25em;
  width: 1.25em;
  vertical-align: middle;
  background-image: url("https://image.similarpng.com/very-thumbnail/2021/06/Green-check-mark-icon-on-transparent-background-PNG.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.5em;
} */
