@import url("https://fonts.googleapis.com/css2?family=Allura&family=Indie+Flower&family=Lato&family=Lobster&family=Merriweather&family=Montserrat:wght@400;900&family=Nunito:wght@700&family=Noto+Sans+Kannada&&family=Noto+Serif+Kannada&family=Permanent+Marker&family=Playfair+Display&family=Poppins&family=Press+Start+2P&family=Righteous&family=Roboto&family=Titillium+Web:wght@900&family=Ubuntu&family=Yellowtail&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav_link {
    @apply text-lg  font-medium text-center w-full lg:w-fit relative text-white hover:text-black duration-300 noto-sans-kan;
  }
}

* > * {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --title-color: rgb(138, 136, 136);
  --muted-color: rgb(182, 182, 182);
  --bg-color-grey: rgb(214, 214, 214);
  -col-primary: rgb(50, 192, 156);
}

/* chrome,safari,edge,opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: none;
}

/* firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;

  /* background-color: #e7e6e6; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  place-items: center;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
}

.lato {
  font-family: "Lato", sans-serif;
}
.lobster {
  font-family: "Lobster", sans-serif;
}

.merriweather {
  font-family: "Merriweather", serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.noto-serif-kan {
  font-family: "Noto Serif Kannada", serif;
}
.noto-sans-kan {
  font-family: "Noto Sans Kannada", sans-serif;
}
/* --------color .diants--------------  */

.cg-primary {
  background-image: linear-gradient(
    108.7deg,
    rgba(206, 206, 206, 0.726) 11%,
    rgba(230, 230, 230, 0.753) 88.2%
  );
}
.cg-pink {
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.cg-purple {
  background-image: linear-gradient(135deg, #aa057e 10%, #3813c2 100%);
}
.cg-heading-safron {
  background-image: linear-gradient(135deg, #fdd819 10%, #e80505 100%);
}
.cg-insta {
  background-image: linear-gradient(
    135deg,
    rgb(207, 42, 186) 40%,
    rgb(238, 44, 130) 60%,
    rgb(251, 105, 98) 80%,
    rgb(254, 248, 76) 100%
  );
}

.cg-green {
  background-image: linear-gradient(132deg, #ecd60d 0%, #16a01d 100%);
}

.cg-green2 {
  background-image: linear-gradient(272deg, #dadac3 0%, #ffffff 100%);
}

.cg-blue {
  background-image: linear-gradient(135deg, #5efce8 10%, #736efe 100%);
}

.cg-silver-blue {
  background-image: linear-gradient(135deg, #92ffc0 10%, #002661 100%);
}

.cg-dark-red {
  background-image: linear-gradient(135deg, #f05f57 10%, #360940 100%);
}

.cg-sblack {
  background-image: linear-gradient(135deg, #2c2c2c 10%, #b0bdbb 100%);
}
.cg-sblack {
  background-image: linear-gradient(135deg, #ffffff 10%, #969999 100%);
}
.cg-syellow {
  background-image: linear-gradient(135deg, #012df3 10%, #044d42 100%);
}

.cg-safron {
  background-image: linear-gradient(135deg, #fd6e6a 10%, #ffc600 100%);
}
.h-cg-safron:hover {
  background-image: linear-gradient(135deg, #fdd819 10%, #e80505 100%);
  background-image: linear-gradient(135deg, #fd6e6a 10%, #ffc600 100%);
}
/* //-------------------------------------------------------- */
/* -------------------------- */
/* 404 page  */

#notfound {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.notfound {
  height: 30vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notfound_404 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

.notfound h1 {
  font-size: 25vmax;
  color: rgba(31, 30, 30, 0.096);
}
.notfound h2 {
  font-weight: 600;
  font-family: "Lato", sans-serif;
}
.notfound p {
  color: rgb(54, 54, 54);
  font-family: "Roboto", sans-serif;
  margin: 1.5vmax;
}

.notfound > a {
  background-color: rgb(0, 102, 255);
  border: 2px solid rgb(0, 102, 255);
  padding: 1rem 2rem;
  color: white;
  border-radius: 3rem;
}
.notfound > a > p {
  color: white;
}
.notfound > a > p:hover {
  color: rgb(7, 7, 7);
}
.notfound > a:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 102, 255);
  color: black;
}

/* -------------------------- */

/* ------Spinner----------------- */
.loader {
  @apply border-gray-200 rounded-full border-4 h-10 w-10 ease-linear border-t-gray-800;
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Pagination */
.paginationBox {
  display: flex;
  justify-content: center;
  margin: 1vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0%;
}

.page-item {
  background-color: rgba(255, 255, 255, 0.849);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.158);
  cursor: pointer;
  transition: all 0.3s;
  padding: 4px 12px;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}
.page-item:last-child {
  border-radius: 0 5px 5px 0;
}

.page-link {
  text-decoration: none;
  /* font-size: clamp(1.2rem, 1rem + 0.309vw, 2rem); */
  font-size: 18px;

  color: rgb(82, 80, 80);
  transition: all 0.3s;
}
.page-item:hover {
  background-color: rgba(230, 230, 230, 0.925);
}

.page-item:hover .page-link {
  color: rgba(83, 83, 83, 0.925);
}

.pageItemActive {
  background-color: rgb(50, 192, 156);
}

.pageLinkActive {
  color: white;
}

/* //-------------------------------------------------------- */
.bgx-primary {
  background-color: #ff004f;
  /* background-color: #ff9e0d; */
}
.col-primary {
  color: #ff004f;
  /* background-color: #ff9e0d; */
}
.textx-primary {
  color: #35c291;
}

.clip-1 {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 48%, 0% 0%);
}
.clip-2 {
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
}

/* --------button loader--------------------- */
.btn-loading {
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  /* padding: 2px; */
  border-bottom: 2px solid rgb(173, 173, 173);
  border-radius: 50%;
  animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
  to {
    transform: rotate(360deg);
  }
}
/* -------Loader---- */
.loading {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: grid;
  place-items: center;
  max-width: 100%;
}

.loading > div {
  width: 10vmax;
  height: 10vmax;
  border-bottom: 5px solid grey;
  border-radius: 50%;
  animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
  to {
    transform: rotate(360deg);
  }
}
/* //-------------------------------------------------------- */

/* For line break \n  */
.enable-line-spacing {
  white-space: pre-line;
}

/* For line break \n and tabs \t: */
/* most recommended */
.enable-spacing {
  white-space: pre-wrap;
}

.navlink::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  /* height: 50px; */
  height: 2px;
  width: 0%;
  background-color: white;
  background-color: #ff004f;
  transition: all 0.8s ease-in-out;
  /* clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(12% 0, 87% 0, 100% 50%, 86% 100%, 12% 100%, 0% 50%); */
  /* transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1); */
  z-index: 999;
}
.navlink:hover::after {
  width: 100%;
}

@media (max-width: 1024px) {
  .navlink::after {
    background-color: white;
  }
}

.insta-bg {
  background: radial-gradient(
    circle at 30% 107%,
    #fc312a 5%,
    #d6249f 60%,
    #d62424 90%
  );
}

.yt-bg {
  background: radial-gradient(circle at 30% 107%, #fc312a 5%, #d62424 90%);
}

/* ----------projects---- */
.cgx-primary {
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff005186);
}

.nav-bg-b {
  background: linear-gradient(
    109.6deg,
    rgb(6, 2, 2) 32.4%,
    rgb(137, 30, 47) 98.8%
  );
  /* background: linear-gradient(109.5deg, rgb(125, 184, 231) 9.4%,rgb(29, 199, 221) 50.4%, rgb(7, 134, 207) 68.4%); */
}

/* At last you have to copy these css styles from here ,Create a CSS file and paste it and import the file */

/* Also you can customize these css styles*/

/* In my case, I use these CSS styles in my App.css file*/
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.logo {
  position: relative; /* Create a positioning context for the pseudo-element */

  /* background: #f8f5f6a4; */
  /* fallback colour. Make sure this is just one solid colour. */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;

  background: url("https://logos-world.net/wp-contenhttps://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtpeNBqyBWGZ8EtCl1SemBLc3B-wDrFbBQ6A&usqp=CAUt/uploads/2022/06/BJP-Symbol.png")
    no-repeat cover; /* The least supported option. */
}

/* //overinding popup contetn  */
.popup-content {
  border-radius: 1rem;
}

@media screen and (max-width: 500px) {
  .popup-content {
    border-radius: 1rem;
    width: 90%;
  }
}

/* .social_link {
  transition:width 2s ease-in-out;

}

.social_link:hover {
  border-radius: 0 2rem 2rem 0;
  width:150px;
} */

#nav_logo {
  background: linear-gradient(
    rgba(54, 1, 1, 0.466),
    rgba(54, 2, 2, 0.514)
  ),url("https://t4.ftcdn.net/jpg/05/49/93/81/360_F_549938156_jN2p7d3fDUdEwNtfq47oQUDPoMozgiSE.jpg")
    no-repeat center;
  background-size: cover;
}
